.c
{
    padding-left:1.5%;
    padding-right:1.5%; 
    float:left; 
    width:30%;
}
.cb
{
    width:90%;
    padding-top:0%;
    padding-left:1.5%;
    margin-left:4%;
    margin-right:5%;
    background-color:black;
}
.cbh
{
    width:100%;
    padding-top:0.125em;
    background-color:white;
}
.cbc
{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
    height:15em;
}
.cbp1
{
    position:absolute;
    padding-top: 0%;
    margin-bottom:8%;
    max-width: 25%;
}
.cbp2
{
    position:absolute;
    padding-top: 4%;
    margin-bottom:8%;
    max-width: 25%;
}
.cbp3
{
    position:absolute;
    padding-top: 6%;
    margin-bottom:8%;
    max-width: 25%;
}
.cbt
{
    position: static;
    margin-left: 3%;
    margin-bottom: 3%;
    letter-spacing:0.03em;
}