@media screen and (min-width: 762px)
{
    * {
        margin: 0;
        padding: 0;
        float: left;
        line-height: 1.5;
        vertical-align: middle;
        text-align:center;
    }

    

    html, body
    {
        max-width: 100%;
        overflow-x: hidden;
    }

    .pageBreakSm, .cardSpaceSm, .navDrop, .navDropContent, .mobile
    {
        display:none; 
        visibility: hidden;
    }

    .logo{
        width: 15vw;
    }

    .navLinkLogo
    {	
        width: 7vw;
        padding-top:3vh;
    }
    .navLink
    {
        width: 10vw;
        height:3vh;
        padding-top:1vh;
        padding-bottom:1vh;
        cursor:pointer;
    }
    .navLinkContent
    {
        width: 100%;
        height:100%;
        color:#f1f1f1;
        text-decoration:none;

        cursor:pointer;
    }
    .navFiller
    {
        width: 40vw;
        height: 5vh;
    }

    .splashMargin
    {
        width: 20vw;
        height: 30vh;
    }
    .splashCont
    {
        width: 30vw;
        height: 30vh;
    }


    .pageSection
    {
        width: 100vw;
    }

    .break
    {
        height: 10vh;
    }

    .longBreak
    {
        height: 35vh;
    }

    .cardSpaceLg
    {
        width: 4.1666667vw;
        height: 30vh;
    }

    .cardBack
    {
        width: 24vw; 
        height: 30vh;
        z-index: 2;
    }

    .cardName
    {
        margin-left:4%;
        margin-top:4%;
        margin-bottom: 8%;
        width:96%;
        text-align: left;
        line-height: 1.0;
    }
    
    .cardRoles
    {
        margin-left:4%;
        margin-bottom: 11%;
        width:96%;
        text-align: left;
        line-height: 1.0;
    }

    .cardContact
    {
        margin-left:4%;
        margin-bottom: 4%;
        width: 96%;
        text-align: left;
        line-height: 1.0;
    }
    
    .cardEmail
    {
        margin-left:4%;
        margin-bottom: 8%;
        width: 96%;
        text-align: left;
        line-height: 1.0;
        
    }

    .cardLine
    {
        width:0.25vw;
    }

    .footerCurve
    {
        width: 100vw;
        height: 20vh;
    }

    .footerMargin
    {
        width: 50vw;
        height:8vh;
    }
    .footerSpacing
    {
        width: 5vw;
        height:8vh;
    }
    .footerLink
    {
        padding-top:4vh;
        width: 10vw;
        color:#f1f1f1;
        text-decoration:none;
        height:8vh;
        z-index: 1;
        cursor: pointer;
    }
    .footerFiller
    {
        width: 100vw;
        height:8vh;
    }

}