.main
{
    background-color: #28AE9F;
    font-family: 'Roboto', sans-serif;
}
.logo
{
    padding-left:12.50%;
    width:20%;
    float:left;
}

.filler
{
    padding-top: 600px;
    padding-right: 30px;
    padding-bottom: 200px;
    padding-left: 30px;
}

