/*
    Teal Colors
*/

.bTeal
{
    background-color: #28AE9F;
}

.bBlue
{
    background-color: #140f20;
}

/*
    Purple Colors
*/
.bPurple
{
    background-color: #503A82;
}

.bDarkPurple
{
    background-color: #201835;
}

.bLightPurple
{
    background-color: #6e50bb;
}    
