*{ 
    overflow: hidden;
    margin: 0 0 0 0;
    
    font-family: 'Roboto', sans-serif;
    font-size: 2.4vh;
    letter-spacing: 0.1vh;
    color:white;
}

.bTeal
{
    background-color: #28AE9F;
}

.bPurple
{
    background-color: #503A82;
}

.background
{
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

h1 {
    font-size: 5vh;
}




